body{
    font-size: 20px;
    font-family: monospace;
}
.general{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    margin : 20px auto;
    background-color: #000;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#start{
    font-size: 1.5em;
    font-weight: bolder;
    width:110px;
    height:150px;
    border : 2px solid #FB8B24;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:70px;
    color :  #FB8B24;
}
#start:hover{
    border: 3px solid rgb(151, 251, 36);
    color : rgb(151, 251, 36);
}

#qImg{
    width : 200px;
    height : 200px;
    border-radius: 50%;
    background-color: rgb(79, 81, 82);
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 200px;
    border-radius: 50%;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    color: white;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px;
    color: white;
}
.escolhas{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid rgb(207, 70, 70);
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.escolhas:hover{
    border : 2px solid rgb(94, 221, 94);
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
    color: white;
}
#counter{
    font-size: 3em;
}
#stimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}

.bg-correct{
    background: #0f0;
}

.bg-wrong{
    background: #f00;
}

.acertos{
    width : 25px;
    height : 25px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 0 auto;
    background-color: rgb(105, 102, 102);
    opacity: 0.8;
    height: 300px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:100px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#scoreContainer button{
    position: absolute;
    display: block;
    width: 130px;
    height: 25px;
    top:200px;
    left:290px;
    font-size: 1em;
    text-align: center;
    background-color: cyan;
    border: none;
    border-radius: 5px;
}